<div>
  <h3>Cats</h3>
  <h4>
    <%= @cats.name %>
  </h4>
  <h3>To-do list</h3>
  <h4>
    <%= @todos.tasks %>
    <%= @todos.finished %>
  </h4>
  <h3>Users</h3>
  <h4>
    <%= @users.username %>
    <%= @users.email %>
    <%= @users.age %>
  </h4>
</div>